<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Pairs Chart</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="chart"></div>
    <script>
        console.log('Attempting to establish WebSocket connection...');
        console.log(window.location.host);

        const socket = new WebSocket('ws://' + window.location.host + '/ws/currency_pairs/');

        let chartData = {
            x: [],
            close: [],
            decreasing: {line: {color: 'red'}},
            high: [],
            increasing: {line: {color: 'green'}},
            low: [],
            open: [],
            type: 'candlestick'
        };

        const updateChart = (newData) => {
            newData.forEach(item => {
                chartData.x.push(item.Datetime);
                chartData.open.push(item.Open);
                chartData.high.push(item.High);
                chartData.low.push(item.Low);
                chartData.close.push(item.Close);
            });

            const layout = {
                title: 'Currency Pair Prices',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'Price'
                }
            };

            Plotly.react('chart', [chartData], layout);
        };

        socket.onopen = function() {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function(event) {
            console.log('Message received:', event.data);
            try {
                const newData = JSON.parse(event.data);
                console.log('Parsed data:', newData);
                updateChart(newData);
            } catch (error) {
                console.error('Error parsing message data:', error);
            }
        };

        socket.onerror = function(error) {
            console.log('WebSocket error:', error);
        };

        socket.onclose = function() {
            console.log('WebSocket connection closed');
        };
    </script>
</body>
</html>
